In [20]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import time
import csv 
import re

In [21]:
df1=pd.read_csv('indeedfullchuasua.csv')
z = []

In [22]:
word = ['Sydney','australia','brisbane','melbourne']

In [23]:
type(word)

list

In [24]:
rx = '(?i)(?P<word>{})'.format('|'.join(re.escape(kw) for kw in word))

In [26]:
matches = df1['City'].str.extractall(rx)

In [29]:
matches

                 word
     match
499  0      Melbourne
523  0      Melbourne
547  0      Melbourne
571  0      Melbourne
595  0      Melbourne
...               ...
5173 0         Sydney
5180 0         Sydney
5184 0      Melbourne
5195 0       Brisbane
5197 0         Sydney

[499 rows x 1 columns]